html{
  font-size: 18px;
}
.container{
  /*background-color: black;*/
  width: 960px;
  font-family: Helvetica;
  color: white;
}
.logo{
/*display: inline-block;*/
/*background-image: url(resources\media\logo.png);*/
display:inline-flex;
padding-top: 0.66rem;
padding-bottom: 0.66rem;
background-color: black;
width: inherit;
float: left;
}

.logopic{
height: 1.5rem;
/*margin-left: 0.5rem;*/
/*margin-right: 1rem;*/
padding-left: 0.5rem;
padding-right: 1rem;
}
.logotxt{
font-size: 1rem;
/*padding-top: 0.66rem;
padding-bottom: 0.66rem;*/
}
.mainbanner{
  background-image: url('../media/moto.jpeg');
  height: 25rem;
  padding-top: 9rem;
}

.bannertxt{
  background-color: black;
  width: 20rem;
  padding-left: 3rem;
}

p.b1{
  font-family: Helvetica;
  font-size: 1rem;
  font-weight: bold;
  /*padding-top: 2rem;*/
}

p.b2{
  font-family: Helvetica;
  font-size: 2rem;
  font-weight: bold;
  /*padding-top: 0.25rem;
  padding-left: 3rem;*/
}

nav{
  background-color: firebrick;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
/*  display:inline-flex;
  justify-content: space-around;*/
}

ul{
  display:flex;
  justify-content:space-around;
}

li{
  list-style: none;
  /*display:inline-flex;*/
}

.productgrid{
background-color: white;
padding-top: 3rem;
display: flex;
justify-content: space-between;
/*margin-top: 3rem;
margin-bottom: 3rem;*/
}

.pen, .watch, .glasses{
  /*background-image: url('../media/pen.png');*/
  /*height:auto;*/
  width: 30%;
  border: 4px solid black;
  overflow: hidden;
  margin-bottom: 3rem;
}

.penpic,.watchpic,.glassespic{
  /*background-image: url('../media/pen.png');*/
  /*background-size:contain;
  background-repeat: no-repeat;
  background-position: center;*/
  height: 9rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: flex;
}

.pen p, .watch p, .glasses p{
  background-color: black;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  display: flex;
  margin-bottom: auto;
  justify-content: center;
}

/*
.pen span{
  background-color: black;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}*/

/*
.watch{
  height: 9rem;
  width: 30%;
  border: 4px solid black;
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-bottom: 3rem;
}
*/
/*
.watchpic{
  background-image: url('../media/watch.png');
  background-size:contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 9rem;
  max-width: 100%;
}
*/
/*
.watch p{
  background-color: black;
  text-align: center;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
}
/*
.watch p{
  background-color: black;
  text-align: center;
}*/

/*
.glasses{
  background-image: url('../media/glasses.png');
  height: 9rem;
  width: 30%;
  border: 4px solid black;
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-bottom: 3rem;
}
*/
/*
.glassespic{
  background-image: url('../media/glasses.png');
  background-size:contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 9rem;
  max-width: 100%;
}
*/
/*
.glasses p{
  background-color: black;
  text-align: center;
}
*/

.productlower{
  display:flex;
  justify-content: space-around;
  margin-top: 3rem;
  margin-bottom: 4rem;
}

.location{
  /*margin-bottom: 4rem;*/
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 2rem;
  width: 35%;
}

.lone{
  background-color: black;
}

.ltwo{
  color: black;
}

.lthree{
  background-color: black;
}

.lfour{
  color: black;
}

.hours{
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 2rem;
  width: 35%;
}

.footer{
  height: 5rem;
  background-color: black;
}

@@media query screen and (max-width: 1024px){
  .pen{
    width: 47%;
  }

  .watch{
    width: 47;
  }

  .glasses{
    width: 47%;
  }
}
